html
    head
        meta(charset='utf-8')
        meta(
          name='viewport'
          content='width=device-width, initial-scale=1.0'
        )
        meta(
          http-equiv='X-UA-Compatible'
          content="ie=edge"
        )
        link(
          rel="stylesheet" 
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
          crossorigin="anonymous"
        )
        link(
          rel='stylesheet'
          href='css/style.css'
        )
        title Comments
    body
     form#send(action="/send", method="POST",enctype="multipart/form-data")            
        label Your name:
        input(
            type='text',
            id='name',
            name="name"
             ) 
        label Your Comment:   
        input(
            type='textarea',
            id='comment',
            name="comment"
             )
        label Your Photo:      
        input(
            type='file',
            id='file',
            name="filedata"
             )     
        input(id="send1", type="submit")
    div(id="com")
script(src='js/script.js')              